.homeMainDiv
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.textContainerInfoContainer
{
    padding: 30px;
    flex: 7;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 31dvh;
}
.imageTextInfoContainer
{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answerTextInfoContainer
{
    padding-left: 30px;
}
.homeInfoImage
{
    width: 40%;
    filter: drop-shadow(4px 4px 4px black);
}