footer
{
    margin: auto;
    margin-bottom: 0;
    background-color: #333;
    color: white;
    text-align: center;
    height: 8%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.subFooterDiv
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phoneImgFooter
{
    display: inline;
    width: 24px;
    position: relative;
    bottom: 3px;
    margin-right: 7px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

#emailIconFooter
{
    margin-right: 7px;
    width: 22px;
    display: inline;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.footerImgText
{
    display: inline;
}